# 2.10 Управляющяя конструкция циклы 
Основные управляющие конструкции языка:
- условия `if ... elif ... else ...`
- циклы `for ... in ...`, `while ...`
- исключения `try ... except ...`

## Цикл `for ... in ...`
от простого варианта ===> к сложному

In [1]:
# I
# for переменная итерации in последовательность:
#     строки команд
for i in [1,3,5]: print(i**i,end=' ')
# списочное выражение
[i**i for i in [1,3,5]]

1 27 3125

[1, 27, 3125]

In [2]:
# II
# for переменная итерации in интервал:
#     строки команд
for i in range(1,6,2): print(i**i,end=' ')
# множественное выражение
{i**i for i in range(1,6,2)}

1 27 3125

{1, 27, 3125}

In [3]:
# III вложенные циклы
# for переменная 1 итерации in последовательность или интервал:
#     строки команд
#     for переменная 2 итерации in последовательность или интервал:
#         строки команд
#     строки команд
d = {}
for i in ['a','b','c']: 
    d[i] = []
    for j in range(1,6,2):
        d[i].append(i*j)
print(d)
# словарное выражение
{i:[i*j for j in range(1,6,2)] for i in ['a','b','c']}

{'a': ['a', 'aaa', 'aaaaa'], 'b': ['b', 'bbb', 'bbbbb'], 'c': ['c', 'ccc', 'ccccc']}

{'a': ['a', 'aaa', 'aaaaa'],
 'b': ['b', 'bbb', 'bbbbb'],
 'c': ['c', 'ccc', 'ccccc']}

In [4]:
# IV 
# for переменная итерации in интервал:
#     строки команд
#     if условие:
#         строки команд
#     else:
#         строки команд
for i in range(7):
    if i%2!=0: print(i**i,end=' ')
    else: print(i,end=' ')
# списочное выражение с тернарным оператором
[i**i if i%2!=0 else i for i in range(7)]

0 1 2 27 4 3125 6

[0, 1, 2, 27, 4, 3125, 6]

In [5]:
# V for ... in ... else
c,n = 1,7
for i in range(1,n): c *= i
else: c *= n # выполнено
# последовательное умножение (факториал) при начальном значении 1
# f = lambda n: 1 if n <= 1 else n*f(n-1)
# f = lambda x: x and x*f(x-1) or 1
# последовательное умножение при начальном значении с
f = lambda x,c: x*c and x*f(x-1,c) or c
c,f(n,c=1)

(5040, 5040)

In [6]:
c,n = 1,7
for i in range(1,n): 
    c *= i
    if i == 6: break
# не выполнено (досрочный выход из цикла)
else: c *= n 
c,f(n,c=1)/n

(720, 720.0)

## Цикл `while ...`
от простого варианта ===> к сложному

In [7]:
# I
# while условие:
#     строки команд
c = 7
while c > 0: c -= 1
c

0

In [8]:
# II
# while условие:
#     строки команд
# else:
#     строки команд
x,s,m = 0,0,500
while (s < m - x):
    s += x
    x += 1
else :
     print(f'сумма целых чисел от 0 до {x-1} равна {s} и меньше {m}')
sum([i for i in range(32)])

сумма целых чисел от 0 до 31 равна 496 и меньше 500

496

In [9]:
# III с досрочным выходом
# while условие:
#     строки команд
#     if условие:
#         break
# else:
#     строки команд
x,s,m,n = 0,0,500,30
while (s < m - x):
    s += x
    x += 1
    if (x > n): break
else :
     print(f'сумма целых чисел от 0 до {x-1} равна {s} и меньше {m}')
print(f'сумма целых чисел от 0 до {n} равна {s} и меньше {m}')
sum([i for i in range(31)])

сумма целых чисел от 0 до 30 равна 465 и меньше 500

465

## Применение циклов
- создание объектов (списков, словарей, генераторов и пр.)
- формулировка функций
- ...

In [10]:
# итерация объектов в циклическом выражении
[el for el in enumerate(["a","b","c"])],\
[(k,v) for (k,v) in {'x':1,'y':2,'z':3}.items()],\
[i**2 for i in range(10) if i%2==0]

([(0, 'a'), (1, 'b'), (2, 'c')],
 [('x', 1), ('y', 2), ('z', 3)],
 [0, 4, 16, 36, 64])

In [11]:
# while одной строкой
while True: print('привет'); break
cond = True
while cond: print('да'); cond = 0
# условия внутри однострочного цикла
# анонимные функции
end_c = lambda c: (c < 9)*' ' + (c == 9)*'\n'
c = 0
while c < 10: print(c,end=end_c(c)); c = c + 1
cond_cx = lambda c,x: '*'*(c < x) + '!'*(c >= x)
c = 0
while c < 10: print(cond_cx(c,5),end=end_c(c)); c = c + 1
# пользовательские функции
# содержит итерацию в цикле
def update1(): global c; print(c,end=' '); c+=1
# содержит выход из цикла
def update2(): global c; print('\n%d^3 = 125'%c); c=10
c = 0
while c < 10: update1() if (c**3 != 125) else update2()

привет
да
0 1 2 3 4 5 6 7 8 9
* * * * * ! ! ! ! !
0 1 2 3 4
5^3 = 125

In [12]:
# создание генераторов
gen1 = (i**2 if i % 2 == 0 else i**3 for i in range(10))
gen2 = (i**4 for i in range(10) if i % 3 == 0)
list(gen1),list(gen2)

([0, 1, 4, 27, 16, 125, 36, 343, 64, 729], [0, 81, 1296, 6561])

In [13]:
# простые множители
def prime_divisors(n):
    divs,d = {1},2
    while n > 1:
        while n % d == 0:
            divs.add(d)
            n = n // d
        d += 1
    return divs
prime_divisors(18361258)

{1, 2, 17, 19, 43, 661}

## Динамические задачи c управляющими конструкциями
### #1
- Общая емкость `w`
- Список значимости показателей (вес) `wlist`
- Список значений показателей (индикаторов) `xlist`

In [14]:
def max_xw(w,n,wlist,xlist,xw):
    if n==0 or w==0:
        return 0
    elif xw[n][w] is not None:
        return xw[n][w]
    elif wlist[n-1] <= w:
        xw[n][w] = max(xlist[n-1]+max_xw(w-wlist[n-1],n-1,wlist,xlist,xw), 
                       max_xw(w,n-1,wlist,xlist,xw))
        return xw[n][w]
    else:
        xw[n][w] = max_xw(w,n-1,wlist,xlist,xw)
        return xw[n][w]

In [15]:
w1 = 10
wlist1 = [1,2,3,6,7,8,9]
xlist1 = [2,6,18,32,22,27,41]
n1 = len(xlist1)
xw1 = [[None]*(w1+1) for _ in range(n1+1)]
max_xw1 = max_xw(w1,n1,wlist1,xlist1,xw1)
max_xw1,xw1

(52,
 [[None, None, None, None, None, None, None, None, None, None, None],
  [None, 2, 2, 2, 2, 2, None, 2, 2, None, 2],
  [None, 2, 6, 8, 8, None, None, 8, None, None, 8],
  [None, 2, 6, 18, 20, None, None, None, None, None, 26],
  [None, 2, 6, 18, None, None, None, None, None, None, 52],
  [None, 2, 6, None, None, None, None, None, None, None, 52],
  [None, 2, None, None, None, None, None, None, None, None, 52],
  [None, None, None, None, None, None, None, None, None, None, 52]])